[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.1.1"
openai = "==1.6.1"
streamlit = "==1.30.0"
chromadb = "==0.4.22"
pydantic-settings = "==2.1.0"
pydantic = "==2.5.3"
langchain-openai = "*"

[dev-packages]
ipykernel = "*"
black = "*"
isort = "*"
autoflake = "*"

[requires]
python_version = "3.10"
